@import url(__item/photo-grid__item.css);

.photo-grid {
  margin: 0 auto;
  padding-top: 96px;
  display: -ms-grid;
  display: grid;
  max-width: 1184px;
  /*фиксируем поля по 48px для экранов от 1024 до 1280*/
  width: calc(100vw - 96px);
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    gap: .9rem;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    padding-top: 68px;
    width: calc(100vw - 32px);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    gap: .6rem;
  }
}
