.places {
  padding-top: 100px;
  width: 90.6vw;
  max-width: 984px;
  margin: 0 auto;
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .places {
    padding-top: 114px;
  }
}

@media screen and (max-width: 900px) {
  .places {
    width: calc(100vw - 48px);
    padding-top: 105px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    width: 100%;
    padding-top: 85px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding-top: 60px;
  }
}
