.comments__comment {
  flex-basis: 382px;
  padding-right: calc(1em + 3px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comments__comment:last-of-type {
  padding-right: 0;
}

@media screen and (max-width: 768px) {
  .comments__comment  {
    max-width: 382px;
    text-align: center;
    padding-right: 0;
    padding-bottom: 3em;
    flex-basis: auto;
    align-items: center;
  }
}

