@import url(__image/lead__image.css);
@import url(__title/lead__title.css);
@import url(__subtitle/lead__subtitle.css);
@import url(__back-image/lead__back-image.css);
@import url(__front-image/lead__front-image.css);
@import url(__caption/lead__caption.css);

.lead {
  margin: 0 auto;
  max-width: 985px;
  width: 90.6vw;
  padding-top: 60px;
  font-size: 30px;
  color: #fff;
}
