.cover__subtitle {
  max-width: 382px;
  margin: 0 0 1.5em 0;
  text-align: center;
  font-size: 1.12em;
  font-weight: normal;
  line-height: 1.46;
  grid-column: 1/2;
  grid-row: 2/-1;
  z-index: 1;
  text-align: center;
  align-self: end;
  justify-self: center;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    bottom: 1em;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    font-size: calc(1.12em - (768px - 100vw)*.01);
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: .87em;
    max-width: 288px;
    left: calc(50% - 288px/2);
    bottom: .3em;
  }
}
