@import url(__item/video__item.css);
@import url(__container/video__container.css);
@import url(__icon/video__icon.css);
@import url(__duration/video__duration.css);
@import url(__title/video__title.css);
@import url(__subtitle/video__subtitle.css);

.video {
  padding-top: 105px;
  max-width: 1184px;
  /*фиксируем поля по 48px для экранов от 1024 до 1280*/
  width: calc(100vw - 96px);
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .video {
    padding-top: 112px;
  }
}

@media screen and (max-width: 768px) {
  .video {
    width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 630px) {
  .video {
    width: 91%;
    padding-top: 55px;
  }
}
