.header {
  max-width: 1184px;
  /*фиксируем отступы для экранов шириной от 1024 до 1280*/
  width: calc(100vw - 96px);
  margin: 0 auto;
  padding-top: 30px;
  font-family: 'Inter', Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: calc(100vw - 32px);
    min-height: 42px;
    padding-top: 16px;
  }
}
