.header {
  max-width: 1184px;
  /*фиксируем поля по 48px для экранов от 1024 до 1280*/
  width: calc(100vw - 96px);
  min-height: 52px;
  margin: 0 auto;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100vw - 48px);
  }
}
