@import url(_theme/video__item_theme_kamchatka.css);
@import url(_theme/video__item_theme_observatory.css);

.video__item {
  flex-basis: calc((100% - 1em)/2);
  min-height: 323px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.video__item::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .2;
  transition: .3s ease-out;
  border-radius: 5px;
}

.video__item:hover::after {
  opacity: .5;
}

.video__item:hover .video__icon {
  animation: scaling .6s ease-in alternate infinite;
}

@media screen and (max-width: 1280px) {
  .video__item {
    min-height: calc(323px - (1280px - 100vw)*.14);
  }
}

@media screen and (max-width: 1024px) {
  .video__item {
    min-height: calc(288px - (1024px - 100vw)*.34);
  }
}
