.logo {
  height: 52px;
  width: 177px;
  background-image: url(logo-images/logo.svg);
  background-position: center;
  background-size: cover;
}


@media screen and (max-width: 425px) {
  .logo {
    height: 42px;
    width: 142px;
  }
}
