.video__duration {
  font-size: .67em;
  line-height: 1.08;
  letter-spacing: 0.3em;
  padding-bottom: .6em;
  margin: 0 0 0 30px;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
  z-index: 1;
}

/*@media screen and (max-width: 1280px) {
  .video__duration {
    padding-top: calc(14% - 25px);
  }
}*/

@media screen and (max-width: 768px) {
  .video__duration {
    margin-left: 24px;
  }
}
