.footer__copyright {
  align-self: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #fff;
}

@media screen and (max-width: 630px) {
  .footer__copyright {
    align-self: flex-start;
  }
}
