@import url(__item/lang__item.css);
@import url(__label/lang__label.css);
@import url(__link/lang__link.css);

.lang {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  color: #fff;
  font-weight: normal;
}

@media screen and (max-width: 425px) {
  .lang {
    font-size: 1.125rem;
    line-height: 96.82%;
  }
}
