.video__title {
  font-size: 2em;
  line-height: 1.08;
  font-weight: 900;
  max-width: 322px;
  margin: 0;
  margin-left: 30px;
  padding-top: .02em;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .video__title {
    font-size: calc(2em - (1024px - 100vw)*.05);
    line-height: calc(39px - (1024px - 100vw)*.05);
  }
}

@media screen and (max-width: 768px) {
  .video__title {
    margin-left: 24px;
  }
}
