.lead__back-image {
  width: 100%;
  height: 554px;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .lead__back-image {
    height: calc(420px - (768px - 100vw)*.61);
  }
}

@media screen and (max-width: 425px) {
  .lead__back-image {
    height: 211px;
  }
}
