.content-subtitle {
  padding-top: 2rem;
  font-size: 1.5rem;
  line-height: 1.46;
  font-weight: normal;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 630px) {
  .content-subtitle {
    font-size: 1em;
    max-width: 93%;
    padding-top: 1.52rem;
  }
}

