@import url(__title/cover__title.css);
@import url(__subtitle/cover__subtitle.css);
@import url(__rect/cover__rect.css);

.cover {
  max-width: 1184px;
  min-height: 594px;
  margin: 0 auto;
  /*фиксируем поля по 48px для экранов от 1024 до 1280*/
  width: calc(100vw - 96px);
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  display: grid;
  grid-template-rows: 2fr 1fr;
  background-image: url(../../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1280px) {
  .cover {
    width: calc(100% - (100vw - 1024px)*.375);
    min-height: calc(594px - (1280px - 100vw)*0.12);
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    width: 100%;
    min-height: calc(561px - (1024px - 100vw)*0.23);
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 1024px;
    width: 100%;
    min-height: calc(500px - (768px - 100vw)*0.6);
  }
}
