.comments__quote {
  margin: 0;
  padding-top: 3em;
  font-size: .87em;
  line-height: 1.7em;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .comments__quote {
    font-size: 1em;
    line-height: calc(1.5em - 1px);
    padding-top: 1.2em;
    order: 3;
    text-align: left;
  }
}
