.lead__caption {
  /*для всех размеров экрана размер подписи одинаковый*/
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .15em;
  margin: .4rem 0 0;
}
