.cover__title {
  margin: auto;
  font-size: 4.5em;
  line-height: 1.08;
  font-weight: 900;
  max-width: 1094px;
  text-align: center;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    max-width: 550px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: calc(4.5em - (768px - 100vw)*.12);
    max-width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 2em;
    max-width: 80%;
  }
}
