.comments__author {
  margin: 0;
  padding-top: 1em;
  font-size: .87em;
  line-height: 1.71em;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .author {
    padding-top: .6em;
    order: 2;
  }
}
