@import url(__copyright/footer__copyright.css);

.footer {
  padding-top: 138px;
  max-width: 1184px;
  /*фиксируем поля по 48px для экранов от 1024 до 1280*/
  width: calc(100vw - 96px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 80px;
    width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 630px) {
  .footer {
    padding-top: 45px;
    flex-direction: column;
    max-width: 91%;
    width: 100%;
  }
}
