.place__url {
  font-size: 1em;
  line-height: 1.8;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  -webkit-transition: opacity .4s ease-in;
  -o-transition: opacity .4s ease-in;
  transition: opacity .4s ease-in;
}

.place__url:hover {
  opacity: .7;
}


