.content-title {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 4.5rem;
  line-height: 1.08;
  font-weight: 900;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .content-title  {
    font-size: calc(4.5rem - (1024px - 100vw)*.12);
    line-height: calc(4.87rem - (1024px - 100vw)*.12);
  }
}

@media screen and (max-width: 768px) {
  .content-title  {
    font-size: calc(2.62em - (768px - 100vw)*.03);
    line-height: 109%;
    max-width: 80%;
  }
}

@media screen and (max-width: 630px) {
  .content-title  {
    font-size: 2rem;
    max-width: 91%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .content-title  {
    max-width: 100%;
  }
}
