.content-title {
  font-size: 4.5rem;
  line-height: 1.08;
  font-weight: 900;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .content-title  {
    font-size: calc(4.5rem - (1024px - 100vw)*.12);
    line-height: calc(4.87rem - (1024px - 100vw)*.12);
  }
}


