.intro__title {
  margin: 0;
  max-width: 683px;
  font-size: 3.86em;
  line-height: 1.09;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .intro__title  {
    font-size: calc(3.86em - (768px - 100vw)*.06);
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    max-width: 70%;
    font-size: 2.28em;
  }
}
